doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Plugin
    body 
        .range-slider
            label.range-slider__result(for='a' data-id="0")
            label.range-slider__result(for='b' data-id="1")
            .range-slider__wrapper
                .range-slider__range-bg
                .range-slider__thumb(data-id="0")
                .range-slider__thumb(data-id="1")
                input#a.range-slider__input(type='range' step=100)
                input#b.range-slider__input(type='range' step=100)



            //- .range-slider__result 1000₽ - 5000₽
            //- .range-slider__bg
            //- .range-slider__range-bg
            //- label(for='a' style='--c: var(--a)')
            //- input#a(type='range' min=min value=a max=max step=100)
            //- label(for='b' style='--c: var(--b)')
            //- input#b(type='range' min=min value=b max=max step=100)